

.about {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #4d5656 ;
	width: 100%;
	height: 50vh;
	border-bottom: 1px dotted #000;
}

.about__content {
	width: 100%;
	color: #909497;
}

.about__details{
	display: flex;
}

@media (max-width: 768px){
	.about__details{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.about__text{
	width: 100%;
	flex: .5;
}

.about__text > h4, .about__address > h4{
	display: flex;
	justify-content: center;
	font-weight: 700;
	color: #fff;
} 

.about__text > p{
	display: flex;
	justify-content: center;
	margin: 20px 50px;
	text-align: center;
	color: #01ffc5;
}

.about__address > span{
	display: flex;
	justify-content: center;
	text-align: center;
	color: #01ffc5;
}

.about__info{
	flex: 0.5;
}

@media (max-width: 768px){
	.about__info{
		margin-top: 50px;
	}
}

.about__resume{
	display: flex;
	justify-content: center;
}

.about__resume > a{
	display: flex;
	align-items: center;
	outline: none !important;
	box-shadow: none !important;
}

.about__resume > a > i{
	margin-right: 10px;
}

 .about__resume > .btn:hover {
	background-color: #222 !important;
	color: #01ffc5;
	border: 1px solid #000;
}

.btn-color {
	background-color: #000;
	color: #01ffc5;
}




