*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }
  /* html {
    scroll-behavior: smooth;
  } */

  .mobile__button{
    visibility: hidden;
  }

  .app {
    position: relative;
    min-height: 100vh;
  }

  @media screen and (max-width: 671px){
    .home__buttons {
     position: absolute;
     top: 70px;
     left: 0;
     z-index: 10;
     width: 100%;
     text-align: center;
     background-color: rgb(128,128,128);
     padding: 0 !important;
   
    }
  
  ul{
    display: flex;
    flex-direction: column;
    width: 10
  }


   .home__active {
      display: inline-block !important;
      width: 90% !important;
      
    }

    .home__style {
      display: inline-block;
      width: 80%;
    }
    
     .home__buttons.hide{
      display: none;
    }

    .home__buttons ul li{
      display: block !important;
    }

    .mobile__button {
      visibility: visible;
      position: absolute;
      right: 20px;
    }
    
  } 
    

 