.contactForm{
    background: #4d5656;
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
}

.container {
    flex: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container h1{
    margin-top: 30px;
    color: #01ffc5;
}

.form-control{
    background:  #2e2e2e; 
    border: 1px solid #000;
    cursor: pointer;
    color: #fff;
}


.form-control::placeholder{
    color: lightgray;
}

.form-control:focus{
    background: #2e2e2e;
    color: #fff;
    border: 1px solid #000;
    box-shadow: none !important;
    outline: 0 !important;
}

#form .btn{
    background-color: #000;
	color: #01ffc5;
}

#form .btn:hover{
    background-color: #222 !important;
	color: #01ffc5;
	border: 1px solid #000;
}

.footer{
    height: auto;
    width: 100%;
    flex: 0.2;
    Background: #222;
}

.footer__container{
    display: flex;
    height: 100%;
}

.footer__left{
    flex: 0.34;
    /* background: #222; */
    color: #01ffc5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer__center{
    flex: 0.33;
    color: #01ffc5;
    display: flex;
    
    align-items: center;
    justify-content: center;
   
}

.footer__right{
    flex: 0.34;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #222; */
    
}
.footer__right > a {
    margin: 10px;
}

.footer__right .MuiSvgIcon-root {
    color: #01ffc5;
    width: 2rem;
    height: auto;
    transition: all 0.2s ease-in-out;
}

.footer__right .MuiSvgIcon-root:hover {
    color: #00af87;
    transform: scale(1.2);
}


@media(max-width: 768px){
    .container h1{
        margin-top: 150px;
    }

    #form .form-row{
        display: flex;
        flex-direction: column;
    }

    #form .form-row .col{
        margin-bottom: 10px;
    }
    }



