.footer {
    /* position: sticky; */
    bottom: 0px;
    margin-top: 2px;
    color: lightgrey;
    /* background-color: #232f3e; */
    background-color: #808080;
}

.back__totop {
    /* height: 40px; */
    line-height: 40px;
    /* line-height: 40px; */
    text-align: center;
    font-size: 13px;
    /* background-color: #37475a; */
    background-color: #808080;
}

.back__totop a {
    color: lightgrey;
    font-weight: 600;
    text-decoration: none;
}

.links_part1 {
    display: flex;
    justify-content: space-around;
}

a:hover {
    color: yellow;
}

.footer__links__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* padding-top: 50px ; */
    padding-top: 15px ;
    padding-bottom: 2px ;
    color: lightgrey;
    /* background-color: #232f3e; */
    background-color: #808080;
}

.footer__links__head {
    display: flex;
    justify-content: center;
    color: lightgrey;
    /* background-color: #232f3e; */
    background-color: #808080;
    font-size: 16px;
    padding-top: 16px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 8px;
}

.links__container {
    margin-left: 16px;
    margin-right: 16px;
}

.footer__links__nav {
    display: flex;
    justify-content: center;
    color: lightgrey;
    /* background-color: #232f3e; */
    background-color: #808080;
    text-decoration: none;
    font-size: 14px;
    padding-top: 8px;
}

.footer__logo__container {
    border-top: thin solid lightgray #37475a;
}

.footer__logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #232f3e; */
    background-color: #808080;
    padding: 10px;
}