
.home{
    width: 100vw;
    height: 100vh;
}


.home img{
    width: 100%;
    height: 100vh;
}

.home__content .home__imageProfile{
    background: url(images/sven-6.png);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    object-fit: contain;
    position: absolute;
    display: flex;
    margin-bottom: 17%;

}

.home__content{
    width: 100%;
   height: auto;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}

.home__content h1{
  position: absolute;
 color: #fff;
 font-size: 4rem;
 margin-top: 80px;
}

.home__content h1 span{
    font-size: 5rem;
    color: yellow;
    font-weight: 700;
}

.home__content p{
    position: absolute;
    margin-top: 17%;
    max-width: 60%;
    font-size:1.2rem;
    color: rgba(245, 245, 245, 0.863);
}

.home__icons{
    position: absolute;
    width: 100%;
    margin-top: 30%;
    display: flex;
    flex: 0.5;
    justify-content: space-between;
    max-width: 500px;;
}

.home__icons .MuiSvgIcon-root{
    color: rgba(245, 245, 245, 0.863);
    width: 3rem;
    height: auto;
    transition: all 0.2s ease-in-out;
}

.home__icons .MuiSvgIcon-root:hover{
    color: #ffffff;
    transform: scale(1.1);
}

/* .home__type{
    position: absolute;
} */
