

/* https://cdn.eso.org/images/thumb700x/airglow_ats_beletsky-CC.jpg */
/* https://images.unsplash.com/photo-1598145966461-bd239b76ca0a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHx0b3BpYy1mZWVkfDk5fDZzTVZqVExTa2VRfHxlbnwwfHx8&auto=format&fit=crop&w=500&q=60 */
/* https://images.unsplash.com/photo-1416163026265-0bc340a710e4?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHx0b3BpYy1mZWVkfDIxfGJvOGpRS1RhRTBZfHxlbnwwfHx8&auto=format&fit=crop&w=500&q=60 */
/* https://images.unsplash.com/photo-1603924382237-7c51849f0eab?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHx0b3BpYy1mZWVkfDU3fGhtZW52UWhVbXhNfHxlbnwwfHx8&auto=format&fit=crop&w=500&q=60 */
/* https://images.unsplash.com/photo-1480506132288-68f7705954bd?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHx0b3BpYy1mZWVkfDEzNHxKOXlyUGFIWFJRWXx8ZW58MHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60 */
/* https://images.unsplash.com/photo-1573506714686-543fcd1ed5a6?ixid=MXwxMjA3fDB8MHxzZWFyY2h8ODR8fGF1cm9yYXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60 */
/* https://images.unsplash.com/photo-1507753739669-330cc2f77626?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjJ8fG5vcnRoZXJuJTIwbGlnaHR8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60 */

.home {
    background-image: url("https://images.unsplash.com/photo-1520214506452-92aa5defe1b3?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDV8fHN0YXJzJTIwZm9yZXN0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: contain;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.home__content .home__imageProfile {
    background: url(images/sven-6.png);
    min-width: 150px;
    min-height: 150px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    object-fit: contain;
    display: flex;
}

@media(max-width: 768px){
    .home__content .home__imageProfile{
        min-width: 100px;
        min-height: 100px;
    }
}


.home__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.home__content h1 {
    color: #fff;
    font-size: 4rem;
    margin-top: 20px;
}

.home__content h1 span {
    max-width: 60%;
    font-size: 5rem;
    color: yellow;
    font-weight: 700;
    text-align: center;
}

@media(max-width: 768px) {
    .home__content h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.5rem;
    }
}

@media(max-width: 768px) {
    .home__content h1 span {
        font-size: 3.5rem;
        display: flex;
        justify-content: center;
    }
}

.home__content p {
    text-align: center;
    max-width: 70%;
    font-size: 1.2rem;
    color: rgba(245, 245, 245, 0.863);
    padding-top: 10px;
}

.home__icons {
    width: 100%;
    display: flex;
    flex: 0.5;
    justify-content: space-between;
    max-width: 500px;
    margin-top: 80px;
}

.home__icons .MuiSvgIcon-root {
    color: rgba(245, 245, 245, 0.863);
    width: 3rem;
    height: auto;
    transition: all 0.2s ease-in-out;
}

.home__icons .MuiSvgIcon-root:hover {
    color: yellow;
    transform: scale(1.2);
}

/* .home__type{
    position: absolute;
} */

