.navbar{
    display: flex;
    justify-content: space-between;
    background-color: gray;
    align-items: center;
    color: #fff;
}

.navbar__logo{
    padding-left: 20px;
}

.navbar__buttons{
    padding-right: 20px;
}

.navbar__buttons ul{
    margin: 0!important;
}

.navbar__buttons ul li{
    display: inline-block;
    margin: 5px;
  
}
.navbar__style:link{
    text-decoration: none;
}

.navbar__style{
    text-decoration: none;
    color: #fff;
    padding: 8px;
}

.navbar__style:hover{
    color: yellow;
}

.navbar__active{
    color: yellow;
    background-color: rgba(244, 244, 242, 0.301);
    border-radius: 10px;
}

.navbar__style:link{
    text-decoration: none;
}

.moblie__button{
    font-size: 2rem;
}
