
.projects__section {
  background: url("https://images.unsplash.com/photo-1476445704028-a36e0c798192?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDV8fGNvbG9yJTIwYmFja2dyb3VuZHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60");
  /* background-color: #eaeaea; */
  background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: contain;
    width: 100%;
    height: 100vh;
  overflow: auto;
  z-index: 3;
  
}

.projects__main-container {
  /* height: 63.3vh; */
}


.projects__main-container h1 {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 60px;
  color: white;
}

/*👉p {
  color: #4b5156;
  font-family: "Roboto Mono", monospace;
}👈*/

a {
  text-decoration: none;
  color: yellow;
}

a:hover{
  text-decoration: none;
  color: #fff;
}

.projects__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 30px;
  justify-content: center;
  padding-bottom: 50px;
}

.projects__overlay{
  height: 320px;
  width: 320px;
}


.projects__post {
  border: 1px solid #c1c1c1;
  -webkit-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
  transition: all 0.2s ease-in-out;
}

.thumbnail {
  display: block;
  width: 100%;
  height: 180px;
  /* object-fit: contain; */
  object-fit: cover;
}

.projects__post:hover {
  /* display: flex; */
  transform: scale(1.02);
  box-shadow: 0 15px 40px rgb(71, 71, 71);
}

.projects__preview {
  background-color: rgb(3, 127, 165);
  padding: 15px;
}

 .projects__preview h6, .projects__preview p{ 
  color: white;
}

.projects__post-title {
  color: black;
  margin-bottom: 10px;
}

.projects__intro {
  color: #4b5156;
  font-size: small;
  margin-bottom: 20px;
}

/*  For Responsivity */

@media only screen and (max-width: 767px) {
  .projects__wrapper {
    margin-bottom: 40px;
  }
}

