*{
  box-sizing: border-box;
}

.projects__section {
  background-color:  #4d5656;
  width: 100%;
  height: 100vh;
  overflow: auto;
  z-index: 3;
  border-bottom: 1px dotted #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .projects__main-container {
  display: flex;
} */


 .projects__wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 60px;
  justify-content: center;
  padding-bottom: 50px;
}  

.img-1{
  background: url("https://raw.githubusercontent.com/HiDraqula/Amazon-Clone/master/screenshot2.jpg");
}

.img-2{
  background: url("./images/airbnb-clone.jpeg");
}

.img-3{
  background: url("./images/netflix-clone.jpeg");
}

.projects__overlay{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 320px;
  height: 200px;
  
  
  transition: all .35s ease-in-out;
}

.projects__overlay:hover{
  transform: scale(1.05);
  box-shadow: 0 15px 40px #222;
}

.projects__post {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  opacity: 0;
  
}

.projects__post:hover{
  background: rgba(0,0,0, .7);
  opacity: 1;
  
} 

.projects__post-title{
  color: white;
}

.projects__post p {
  color: #01ffc5;
}

.projects__post a {
  text-decoration: none;
  color: white;
}  

.projects__post a:hover{
  text-decoration: none;
  color: #00af87;
}


/* .projects__post .thumbnail {
  display: block;
  width: 100%;
  height: 180px;
  object-fit: cover;
  transition: all 0.2s ease-in-out;
  
}

.projects__post .thumbnail:hover{
  position: relative;
  transform: scale(1.05);
  box-shadow: 0 15px 40px rgb(71, 71, 71);
 
} */

/* .projects__post:hover { */
  /* display: flex; */
  /* transform: scale(1.02);
  box-shadow: 0 15px 40px rgb(71, 71, 71);
} */

 /* .projects__preview h6, .projects__preview p{ 
   position: absolute;
  color: white;
} */

/* .projects__post-title {
  color: black;
  margin-bottom: 10px;
} */

/* .projects__intro {
  color: #4b5156;
  font-size: small;
  margin-bottom: 20px;
} */

/*  For Responsivity */

/* @media only screen and (max-width: 767px) {
  .projects__wrapper {
    margin-bottom: 40px;
  }
} */

